# Google Sheets spreadsheet URL for the B2C Mastersheet.
# The spreadsheet must be accessible to the application (published/shared appropriately).
GOOGLE_SHEET_URL=https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit
GOOGLE_SHEET_CACHE_SECONDS=300
# Optional on Windows if LibreOffice is not on PATH:
# LIBREOFFICE_PATH=C:\Program Files\LibreOffice\program\soffice.exe
